<h1 class="text-center";style="font-family:lato"> ADD SERVICES </h1>
<br>
<br>
<%= link_to "Create Service", new_service_path, class: "btn btn-outline-secondary" %>
<br>
<table class="table table-striped">
    <thead>
        <th>Service Name</th>
        <th>Price</th>
        <th>Status</th>
    </thead>
    <tbody>
        <% @services.each do |service| %>
            <tr>
                <td>
                    <%= service.service_name %>
                </td>
                <td>
                    PHP <%= '%.2f' % service.service_price %>
                </td>
                <td>
                    <% if service.service_status == true %>
                    <p class= "label label-success">Active</p>
                    <% else %>
                    <p class= "label label-danger">Inactive</p>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>