<div class="container">
    <h1 class="text-center";style="font-family:lato"> ADD NEW SERVICE </h1>
</div>

<%= simple_form_for @service do |f| %>
    <%= f.error_notification %>
    <%= f.input :service_name, as: "string", input_html: { value: '{}' }, required: true %>
    <%= f.input :service_price, as: :decimal, input_html: { value: number_with_precision(f.object.service_price, precision: 2) }, required: true %>
    <%= f.input :service_status, as: :boolean, boolean_style: :nested, input_html: { value: '1' }%>
    <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
    <%= link_to 'Back', :back, class: "btn btn-primary" %>
<% end %>