<%= simple_form_for @discount_code do |f| %>
    <%= f.error_notification %>
    <%= f.input :id, label: "Discount Code", as: "string", required: true %>
    <%= f.input :percentage, collection: 1..99, prompt: "Percent off", selected: 21, required: true %>
    <%= f.input :code_status, as: :boolean %>
    <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
    <%= link_to 'Back', discount_codes_path, class: "btn btn-primary" %>
<% end %>