<h1 class="text-center";style="font-family:lato"> DISCOUNT CODES </h1>
<br>
<br>
<%= link_to "Add Discount Code", new_discount_code_path, class: "btn btn-outline-secondary" %>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th>Discount Code</th>
        <th>Percentage</th>
        <th>Status</th>
        <th>Option</th>
    </thead>
    <tbody>
        <% @discount_codes.each do |discount_code| %>
            <tr>
                <td>
                    <%= discount_code.id %>
                </td>
                <td>
                    <%= discount_code.percentage %>
                </td>
                <td>
                    <% if discount_code.code_status %>
                        <p class= "label label-success">Active</p>
                    <% else %>
                        <p class= "label label-danger">Inactive</p>
                    <% end %>
                </td>
                <td>
                    <% if discount_code.id.eql? 'NoDiscount' %>
                        <p>Uneditable</p>
                    <% else %>
                        <%= link_to "Edit", edit_discount_code_path(discount_code), class: "btn btn-primary" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>