<%= simple_form_for @customer do |f| %>
    <%= f.error_notification %>
    <%= f.input :customer_name, as: "string", placeholder: "Full name", required: true %>
    <%= f.input :school_organization, label: "School/Organization", as: "string", placeholder: "School/Organization", required: true %>
    <%= f.input :age, as: :integer, input_html: { in: 10..99 }, prompt: "Age", required: true %>
    <%= f.input :mobile_number, as: "string", placeholder: "Mobile Number", required: true %>
    <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
    <%= link_to 'Back', customers_path, class: "btn btn-primary" %>
<% end %>