<h1 class="text-center";style="font-family:lato"> CUSTOMER DIRECTORY </h1>
<br>
<br>
<%= link_to "Register New Customer", new_customer_path, class: "btn btn-outline-secondary" %>
<br>
<table class="table table-striped">
<br>
    <thead>
        <th><%= sortable "name" %></th>
        <th><%= sortable "school_organization", "School/Organization" %></th>
        <th><%= sortable "age" %></th>
        <th>Mobile Number</th>
        <th><%= sortable "membership" %></th>
        <th>Options</th>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
            <tr>
                <td>
                    <%= customer.customer_name %>
                </td>
                <td>
                    <%= customer.school_organization %>
                </td>
                <td>
                    <%= customer.age %>
                </td>
                <td>
                    <%= customer.mobile_number %>
                </td>
                <td>
                    <% if customer.membership %>
                    <p> Yes</p>
                    <% else %>
                    <p> No</p>
                    <% end %>
                </td>
                <td>
                    <% if customer.in_store %>
                        <button type="button" class="btn btn-secondary btn-sm" disabled>Timed-in</button>
                    <% else %>
                        <%= link_to "Time In", cafesessions_path(:customer_id => customer), :method => :post, class: "btn btn-outline-success btn-sm" %>  
                    <% end %>
                    <%= link_to "Edit", edit_customer_path(customer), class: "btn btn-primary btn-sm" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>