<%= simple_form_for @cashier do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, as: "string", placeholder: "Full name", required: true %>
    <%= f.input :address, as: "string", placeholder: "Unit/Building/Room No., Street, Village/Subdivision, Barangay, City/Town/Municipality, Province/Region", required: true %>
    <%= f.input :mobile_number, as: "string", placeholder: "Mobile Number", required: true %>
    <%= f.input :date_hired, as: "date", required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
    <%= link_to 'Back', cashiers_path, class: "btn btn-primary" %>
<% end %>