<h1 class="text-center";style="font-family:lato"> CASHIERS </h1>
<br>
<br>
<%= link_to "Register New Cashier", new_cashier_path, class: "btn btn-outline-secondary" %>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th><%= sortable "name" %></th>
        <th><%= sortable "email" %></th>
        <th><%= sortable "address" %></th>
        <th><%= sortable "mobile_number" %></th>
        <th><%= sortable "date_hired" %></th>
        <th>Option</th>
    </thead>
    <tbody>
        <% @cashiers.each do |cashier| %>
            <tr>
                <td>
                    <%= cashier.name %>
                </td>
                <td>
                    <%= cashier.email %>
                </td>
                <td>
                    <%= cashier.address %>
                </td>
                <td>
                    <%= cashier.mobile_number %>
                </td>
                <td>
                    <%= cashier.date_hired %>
                </td>
                <td>
                    <%= link_to "Edit", edit_cashier_path(cashier), class: "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>