<%= simple_form_for @order_item do |f| %>
    <%= f.error_notification %>
    <%= f.input :item_name, as: "string", required: true %>
    <%= f.input :item_type, as: :radio_buttons, collection: ['Food', 'Drink'], class: 'btn-group btn-group-toggle', data: {toggle: "buttons"}, required: true %>
    <%= f.input :item_price, as: :decimal, input_html: { value: number_with_precision(f.object.item_price, precision: 2) }, required: true %>
    <%= f.input :item_product_level, as: :integer, input_html: { in: 0..50 }, required: true %>
    <%= f.input :item_status, as: :boolean, boolean_style: :nested, input_html: { value: '1' }%>
    <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
    <%= link_to 'Back', order_items_path, class: "btn btn-primary" %>
<% end %>

<!--thinking about using radio bootstrap buttons for item type and status
    also, validate product level in model-->