<h1 class="text-center";style="font-family:lato"> PRODUCTS </h1>
<br>
<br>
<%= link_to "Create Product", new_order_item_path, class: "btn btn-outline-secondary" %>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th><%= sortable "item_name" %></th>
        <th><%= sortable "item_type" %></th>
        <th><%= sortable "item_price" %></th>
        <th><%= sortable "item_product_level" %></th>
        <th><%= sortable "item_status" %></th>
        <th>Option</th>
    </thead>
    <tbody>
        <% @order_items.each do |order_item| %>
            <tr>
                <td>
                    <%= order_item.item_name %>
                </td>
                <td>
                    <%= order_item.item_type %>
                </td>
                <td>
                    <%= number_to_currency(order_item.item_price, unit: "₱") %>
                </td>
                <td>
                    <%= order_item.item_product_level %>
                </td>
                <td>
                    <% if order_item.item_status %>
                    <p class= "label label-success">Active</p>
                    <% else %>
                    <p class= "label label-danger">Inactive</p>
                    <% end %>
                </td>
                <td>
                    <%= link_to "Edit", edit_order_item_path(order_item), class: "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>