<h1>Product Levels</h1>
<h2 class="text-center">⚠️ Undersupplied Products ⚠️</h2>

<table class="table table-striped pretty">
    <thead>
        <th><%= sortable "item_name" %></th>
        <th><%= sortable "item_type" %></th>
        <th><%= sortable "item_product_level" %></th>
        <th>Edit</th>
    </thead>
    <tbody>
        <% @order_items_u.each do |order_item| %>
            <tr>
                <td>
                    <%= order_item.item_name %>
                </td>
                <td>
                    <%= order_item.item_type %>
                </td>
                <td>
                    <%= order_item.item_product_level %>
                </td>
                <td>
                    <% if cashier_signed_in? %>
                        <button type="button" class="btn btn-secondary" disabled>Edit</button>
                    <% else %>
                        <%= link_to "Edit", edit_order_item_path(order_item), class: "btn btn-primary" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<h2 class="text-center">OK Products</h2>

<table class="table table-striped pretty">
    <thead>
        <th><%= sortable "item_name" %></th>
        <th><%= sortable "item_type" %></th>
        <th><%= sortable "item_product_level" %></th>
        <th>Edit</th>
    </thead>
    <tbody>
        <% @order_items.each do |order_item| %>
            <tr>
                <td>
                    <%= order_item.item_name %>
                </td>
                <td>
                    <%= order_item.item_type %>
                </td>
                <td>
                    <%= order_item.item_product_level %>
                </td>
                <td>
                    <% if cashier_signed_in? %>
                        <button type="button" class="btn btn-secondary" disabled>Edit</button>
                    <% else %>
                        <%= link_to "Edit", edit_order_item_path(order_item), class: "btn btn-primary" %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>