// Custom bootstrap variables must be set or imported *before* bootstrap.
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require narrow-jumbotron
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 body {
    background-color: #fff5db;
    padding: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    font-style: "Raleway";
  }
  
  .bg { 
    /* The image used */
    background-image: url("dno75z.jpg");

    /* Full height */
    height: auto; 
    width: 100%; /* fall back */
   

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 0rem;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
  }
  
  /* Customize container */
  @media (min-width: 992px) {
    .container {
      max-width: 100rem;
    }
  }
  .container-narrow > hr {
    margin: 0rem 0;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 0rem 0;
  }
  .marketing p + h4 {
    margin-top: 0rem;
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 1200em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 0rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

  .label-danger{
      height: 7cm;
      width: 5cm;
    }

  .label-success{
      height: 7cm;
      width: 5cm;
  }
  
  .btn-primary{
    color:black;
    background-color: rgb(241, 235, 235);
    background-image: none;
    border-color: #373738;
    font-family: sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .btn-primary:hover{
    background-color: rgb(253, 214, 128); /* Green */
    color: black;
  }
  .btn-outline-secondary{
    color:black;
    background-color: rgb(241, 235, 235);
    background-image: none;
    border-color: #373738;
    font-family: sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .btn-outline-secondary:hover{
    background-color: rgb(253, 214, 128); /* Green */
    color: black;
  }
  .btn-outline-danger{
    color:black;
    background-color: rgb(241, 235, 235);
    background-image: none;
    border-color: rgb(245, 77, 77);
    font-family: sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .btn-outline-danger:hover{
    background-color: rgb(243, 117, 117); /* Green */
    color: black;
  }

  .btn-outline-success{
    color:black;
    background-color: rgb(241, 235, 235);
    background-image: none;
    border-color: rgb(85, 177, 85);
    font-family: sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .btn-outline-success:hover{
    background-color: rgb(139, 219, 139); /* Green */
    color: black;
  }
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f9f9f8; // Choose your own color here
 }

.table-striped>thead{
  background-color:  rgb(253, 214, 128)
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #fefefe; // Choose your own color here
 }

.table-striped{
   outline-style: solid;
   outline-width: 1px;
}
.th, td {
  padding: 15px;
  text-align: left;
}

.nav.navbar-nav li a {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: rgb(253, 214, 128); /* Green */ 
}
a.navbar-link{
  color: white;
}

a.navbar-link:hover{
  color: rgb(253, 214, 128);
}



h1 {
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 300%;
  text-align: center;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #444444;
  color: white; 
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: rgb(253, 214, 128);
}

.nav.navbar-nav.navbar-header.navbar-brand a:hover{
  color:  rgb(253, 214, 128);
}

.navbar-default .navbar-link li a{
  color: white;
}
div.col-md-6 {
  border: double;
}