<div class='nested-fields order-line-fields'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Product name</h3>
    </div>
    <div class="panel-body">
      <%= f.collection_select :order_item_id, OrderItem.where(item_status: true), :id, :item_name, required: true %>
      <%= f.input :order_quantity, as: "integer", placeholder: "Quantity", input_html: { min: '0', step: '1' }, required: true %>
      <%= f.hidden_field :order_status, :value => false %>
      
      <%= link_to_remove_association "Remove item", f, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"%>
    </div>
  </div>
</div>