<div class='nested-fields service-line-fields'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Service Name</h3>
    </div>
    <div class="panel-body">
      <%= f.collection_select :service_id, Service.where(service_status: true), :id, :service_name, required: true %>
      <%= f.input :service_quantity, as: "integer", placeholder: "Quantity", input_html: { min: '0', step: '1' }, required: true %>

      <%= link_to_remove_association "Remove service", f, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"%>
    </div>
  </div>
</div>