<h1>Table Number <%= @cafesession.table_number %>: <%= @cafesession.customer.customer_name %></h1>
What service do you want to add?

<%= simple_form_for @cafesession do |f| %>
    <%= f.error_notification %>
    <div id="service_lines">
        <%= f.simple_fields_for :service_lines do |service_line| %>
            <%= render 'service_line_fields', f: service_line %>
        <% end %>
        <div class="links">
            <%= link_to_add_association 'Add Service', f, :service_lines, class: "btn btn-primary" %><br>
        </div>
    </div>
    <%= f.submit 'Save services', class: "btn btn-primary" %>
    <%= link_to "Cancel", @cafesession, class: "btn btn-primary" %>
<% end %>
<br>