<h1>Table Number <%= @cafesession.table_number %>: <%= @cafesession.customer.customer_name %></h1>
What do you want to order?

<%= simple_form_for @cafesession do |f| %>
    <%= f.error_notification %>
    <div id="order_lines">
        <%= f.simple_fields_for :order_lines do |order_line| %>
            <%= render 'order_line_fields', f: order_line %>
        <% end %>
        <div class="links">
            <%= link_to_add_association 'Add item', f, :order_lines, class: "btn btn-primary" %><br>
        </div>
    </div>
    <%= f.submit 'Save orders', class: "btn btn-primary" %>
    <%= link_to "Cancel", @cafesession, class: "btn btn-primary" %>
<% end %>
<br>