
	<div class="page-header">
		<h1 class="text-center">Customer Summary</h1>
	</div>


<div>
<h1>Table Number: <%= @cafesession.table_number %></h1>
<h4>Cashier: <%= @cafesession.cashier.name %></h4>
<h4>Time In: <%= @cafesession.time_in.strftime("%H:%M:%S %A, %b %d, %Y") %></h4>
<h4>Time Out: <%= @cafesession.time_out.strftime("%H:%M:%S %A, %b %d, %Y") %></h4>
<h4>Duration: <%= @duration_in_store %></h4>
</div>

<% subtotal = 0 %>
<% subtotal2 = 0 %>

<table class="table table-striped">
    <thead>
        <th>Order Items</th>
        <th>Price per item</th>
        <th>Quantity</th>
        <th>Status</th>
        <th class="text-right">Price</th>
    </thead>
    <tbody>
        <% @cafesession.order_lines.each do |order_line| %>
            <tr>
                <td>
                    <%= order_line.order_item.item_name %>
                </td>
                <td>
                    <%= number_to_currency(order_line.order_item.item_price, unit: "₱") %>
                </td>
                <td>
                    <%= order_line.order_quantity %>
                </td>
                <td>
                    <% if order_line.order_status %>
                    <p class= "label label-success">Served</p>
                    <% else %>
                    <p class= "label label-warning">Pending</p>
                    <% end %>
                </td>
                <td class="text-right">
                    <% row_price = 0 %>
                    <% if order_line.order_status %>
                        <% row_price = order_line.order_quantity * order_line.order_item.item_price %>
                    <% else %>
                        <% row_price = 0 %>
                    <% end %>
                    <%= number_to_currency(row_price, unit: "₱") %>
                </td>
            </tr>
            <% subtotal += row_price %>
        <% end %>
        <tr>
            <td><b>Subtotal</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><b><%= number_to_currency(subtotal, unit: "₱") %></b></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <th>Services</th>
        <th>Quantity</th>
        <th class="text-right">Price</th>
    </thead>
    <tbody>
        <% @cafesession.service_lines.each do |service_line| %>
            <tr>
                <td>
                    <%= service_line.service.service_name %>
                </td>
                <td>
                    <%= service_line.service_quantity %>
                </td>
                <td class="text-right">
                    <%= number_to_currency(service_line.service_quantity * order_line.service.service_price, unit: "₱") %>
                </td>
            </tr>
            <% subtotal2 += service_line.service_quantity * service_line.service.service_price %>
        <% end %>
        <tr>
            <td>Subtotal</td>
            <td></td>
            <td class="text-right"><%= number_to_currency(subtotal2, unit: "₱") %></td>
        </tr>
    </tbody>
</table>


	<table class= "table">
        <% grandtotal = 0 %>
		<tr>
            <th>Orders Total</th>
            <th class="text-right"><%= number_to_currency(subtotal, unit: "₱") %></th>
        </tr>
		<tr>
            <th>Services Total</th>
            <th class="text-right"><%= number_to_currency(subtotal2, unit: "₱") %></th>
        </tr>
        <tr>
            <th>Stay Fees</th>
            <th class="text-right"><%= number_to_currency(70, unit: "₱") %>/hour × <%= @hour_bracket%> hour(s) = <%= number_to_currency(@stayfee, unit: "₱") %></th>
        </tr>
        <% grandtotal = subtotal + subtotal2 + @stayfee %>
	</table>



	<table class= "table">
		<tr>
            <td><b>Grand Total</b></td>
            <td class="text-right">
                <%= number_to_currency(grandtotal, unit: "₱") %>
            </td>
        </tr>
    </table>


<% @cafesession.subtotal = grandtotal %>
<% @cafesession.save %>

<div>
		<br>
        <%= simple_form_for @cafesession do |f| %>
            <%= f.input :cash, as: :integer, :min => grandtotal, required: true %>
            <%= f.association :discount_code, collection: DiscountCode.where(:code_status => true), :label_method => :id, :selected => 'NoDiscount', required: true %>
            <%= f.input :card_number, required: false %>
            <%= f.submit 'Proceed to Final Receipt', class: "btn btn-primary" %>
        <% end %>
        <table class= "table">
        
		<!--<tr>
            <th>Total</th>
            <%# <th class="text-right"><%= number_to_currency(grandtotal, unit: "₱") %></th> %>
        </tr>
		<tr>
            <th>Paid</th>
            <%# <th class="text-right"><%= number_to_currency(100, unit: "₱") %></th> %>
        </tr>
        <tr>
            <th>Change</th>
            <%# <th class="text-right"><%= number_to_currency(100-grandtotal, unit: "₱") %></th> %>
        </tr>-->
        
	</table>
</div>
