<div class="container">
	<div class="page-header">
		<h1 class="text-center">Customer Summary</h1>
	</div>
</div>

<div>
<h1>Table Number: <%= @cafesession.table_number %></h1>
<h2>Cashier: <%= @cafesession.Cashier.name %></h2>
<h3>Time Out: <h/3>
<h4>Date: <%= @cafesession.created_at %></h4>
</div>

<div class="container">
	<table class= "table">
        <tr><th>Order Items</th></tr>
		<tr>
            <th>Order Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
		<% subtotal=0 %>
		
        <% @order_lines.each do |order_line| %>
		<tr>	
            <td><%= order_line.order_item.item_name %> </td>
            <td><%= order_line.order_quantity %></td>
            <td>₱<%= order_line.order_quantity * order_line.order_item.item_price %></td>
            <td><% subtotal += order_line.order_quantity * order_line.order_item.item_price %></td>
        </tr>
	    <% end %> 
        <tr>
            <th> Subtotal: ₱<%= subtotal %> </th>
        </tr>
	</table>
</div>
<br>

<div class="container">
	<table class= "table">
        <tr><th>Services</th></tr>
		<tr>
            <th>Service Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
		<% subtotal2 =0 %>
		
        <% @service_lines.each do |service_line| %>
		<tr>	
            <td><%= service_line.service.service_name %> </td>
            <td><%= service_line.service_quantity %></td>
            <td>₱<%= service_line.service_quantity * service_line.service.service_price %></td>
            <td><% subtotal2 += service_line.service_quantity * service_line.service.service_price %></td>
        </tr>
	    <% end %> 
        <tr>
            <th> Subtotal: ₱<%= subtotal2 %> </th>
        </tr>
	</table>
</div>

<div class="container">
	<table class= "table">
        <% grandtotal = 0 %>
		<tr>
            <th>Orders Total</th>
            <th>₱<%= subtotal %></th>
        </tr>
		<tr>
            <th>Services Total</th>
            <th>₱<%= subtotal2 %></th>
        </tr>
        <tr>
            <th>Stay Fees</th>
            <th>Idk how to get the stay fee</th>
        </tr>
        <% grandtotal = subtotal + subtotal2 + stayfee $>
	</table>
</div>

<div class="container">
	<table class= "table">
		<tr>
            <th><b>Grand Total</b></th>
            <th>₱<%= grandtotal %></th>
        </tr>
    </table>
</div>

<div>
		<br>
        <h1>Discounted Total: ₱</h1>
        <h2>Paid: ₱<%= @cafesession.cash %> 
        <h2>Change: ₱<%= @cafesession.cash - discountedtotal%> </h2>
        
        
</div>
