<h1 class="text-center";style="font-family:lato"> CURRENT CUSTOMERS</h1>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Time In</th>
        <th>Table Number</th>
        <th>Pending Orders</th>
        <th>Total Orders</th>
        <th>Options</th>
    </thead>
    <tbody>
        <% @cafesessions.each do |cafesession| %>
            <tr>
                <td>
                    <%= cafesession.customer.customer_name %>
                </td>
                <td>
                    <%= cafesession.time_in.strftime("%H:%M:%S %A, %b %d, %Y") %>
                </td>
                <td>
                    <%= cafesession.table_number %>
                </td>
                <td>
                    <%= OrderLine.where("cafesession_id = ?", cafesession.id).where("order_status = false").count%>
                </td>
                <td>
                    <%= OrderLine.where("cafesession_id = ?", cafesession.id).count%>
                </td>                
                <td>
                    <%= link_to "View", cafesession, class: "btn btn-primary" %> <!-- I think we should change this to Add order/service-->
                    <%= link_to "Time Out", customer_summary_cafesessions_path(cafesession), class: "btn btn-outline-danger" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>