<!--don't show tables with emptiness
    if condition = nil -->

<div class="container">
	<div class="page-header">
	    <br>
		<h1 class="text-center">Pending Orders</h1>
	</div>
</div>
<div class="container">
    <% if Cafesession.where("finished = false").exists? %>
    <% i = 1 %>
    <% while i <= Cafesession.maximum("table_number") do %>
    <% @order_lines = OrderLine.joins(:cafesession).where("table_number = ?", i).where(:order_status => false) %>
        <% if @order_lines.exists? %>
            <h3>Table Number: <%= i %></h3>

            <table class="table">
                <th>Order Item</th>
                <th>Quantity ordered</th>
                <th>Quantity left</th>
                <th>Options</th>
                <% @order_lines.each do |order_line| %>
                <tr>
                    <td><%= order_line.order_item.item_name %> </td>
                    <td><%= order_line.order_quantity %></td>
                    <td><%= order_line.order_item.item_product_level %></td>
                    <td><%= link_to 'Serve', change_status_cafesessions_path(:id => order_line), class: 'btn btn-primary' %></td>
                </tr>
                <% end %>
            </table> 
        <% end %>
    <% i +=1 %>
    <% end %>
    <% else %>
        <h3 class="text-center">No customers in store</h3>
    <% end %>
    <!--<h3>Highest table: <%= Cafesession.maximum("table_number")%></h3>-->
</div>