<h1 class="text-center">Table <b><%= @cafesession.table_number %></b>: <%= @cafesession.customer.customer_name %></h1>
<br>
<h4>Update Table Number</h4>
<%= simple_form_for @cafesession do |f| %>
    <%= f.error_notification %>
    <%= f.input :table_number, as: :integer, input_html: { in: 0..100 }, required: true %>
    <%= f.submit 'Update table number', class: "btn btn-primary" %>
<% end %>
<br>

<% if @cafesession.table_number != 0 %>
  <table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Status</th>
    </thead>
    <tbody>
        <% @cafesession.order_lines.each do |order_line| %>
            <tr>
                <td>
                    <%= order_line.order_item.item_name %>
                </td>
                <td>
                    <% if order_line.order_status %>
                    <p class= "label label-success">Served</p>
                    <% else %>
                    <p class= "label label-warning">Pending</p>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Add Order", add_order_cafesessions_path(@cafesession), class: "btn btn-primary" %>
<br>
<br>
<table class="table table-striped">
    <thead>
        <th>Service</th>
    </thead>
    <tbody>
        <% @cafesession.service_lines.each do |service_line| %>
            <tr>
                <td>
                    <%= service_line.service.service_name %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Add Service", add_service_cafesessions_path(@cafesession), class: "btn btn-primary" %>
<% else %>
<h3 class="text-center">Please set table number before adding orders and services.</h3>
<% end %>
