<!DOCTYPE html>
<html>
  <head>
    <title>Diligence Cafe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="color:white;">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand pull-left" href="#"> Diligence Café </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if admin_signed_in? %>
              <li>
                <%= link_to "Order Items", order_items_path %>
              </li>
              <li>
                <%= link_to "Cashiers", cashiers_path %>
              </li>
              <li>
                <%= link_to "Discount Codes", discount_codes_path %>
              </li>
              <!-- Link to Reports coming soon-->
            <% end %>
            <% if cashier_signed_in? %>
              <li>
                <%= link_to "Dashboard", cafesessions_path %>
              </li>
              <li>
                <%= link_to "Customer Directory", customers_path %>
              </li>
              <li>
                <%= link_to "Pending Orders", pending_orders_cafesessions_path %>
              </li>
            <% end %>
            <% if cashier_signed_in? or admin_signed_in? %>
            <li>
                <%= link_to "Product Levels", undersupplied_products_order_items_path %>
            </li>
            <% end %>
          </ul>
          
          <p class="navbar-text pull-right">
          <% if admin_signed_in? %>
             Admin logged in as <strong> <%= current_admin.email %></strong> | 
            <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
          <% end %>
          <% if cashier_signed_in? %>
            Cashier logged in as <strong><%= current_cashier.email %></strong> |
            <%= link_to "Logout", destroy_cashier_session_path, method: :delete, :class => 'navbar-link'  %>
          <% end %>
          </p>
        </div>
      </div>
    </nav>
    
    
    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>
    
  </body>
</html>
